 body {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Roboto", sans-serif;

 }


 h1,
 h2,
 h3 {

     font-family: "Bebas Neue", sans-serif;
 }



 .container {
     width: 80%;
     margin: 0 auto;
 }